[Desktop Entry]
Version=0.9.0
Type=Application
Name=Pocket 2FA
Comment=2FA manager based on 2FAuth web app
Exec=pocket2fa
Icon=net.gmartin.pocket2fa
Categories=Utility;Security;
Terminal=false
StartupWMClass=pocket2fa